{% extends 'template.html.twig' %}

{% block title %}Hello Personnes{% endblock %}


{% block blockBody %}
    <table class="table table-reponsive table-primary table-striped">
        <tr class="table-dark">
          <td>id</td>
          <td>name</td>
          <td>firstname</td>
          <td>age</td>
          <td>details</td>
            <td>delete</td>
            <td>update+1</td>
        </tr>
        {% for personne in personnes %}
        <tr>
        <td>{{personne.id}}</td>
        <td>{{personne.name}}</td>
        <td>{{personne.firstname}}</td>
        <td>{{personne.age}}</td>
        <td><a href="{{path('personne.one',{'id' : personne.id}) }}">view details👇</a></td>
        <td> <a href="{{path('personne.delete',{'id': personne.id })}}" class="btn btn-danger">remove🪓🔪</a></td>
        <td> <a href="{{path('personne.edit',{'id': personne.id })}}" class="btn btn-success">update+1</a></td>
      </tr>
        {% endfor %}
    </table>

    
{% endblock %}
