{% extends 'template.html.twig' %}

{% block title %}Hello Personnes{% endblock %}


{% block blockBody %}
    <table class="table table-reponsive table-primary table-striped">
        <tr class="table-dark">
          <td>id</td>
          <td>name</td>
          <td>firstname</td>
          <td>age</td>
          <td>details</td>
        {% if is_granted('ROLE_ADMIN') %}
            <td>delete</td>
            <td>edit</td>
        {% endif %}
        </tr>
        {% for personne in personnes %}
        <tr>
        <td>{{personne.id}}</td>
        <td>{{personne.name}}</td>
        <td>{{personne.firstname}}</td>
        <td>{{personne.age}}</td>
        <td><a href="{{path('personne.one',{'id' : personne.id}) }}">
          <i class="fas fa-info-circle"></i>
        </a></td>
       {% if is_granted('ROLE_ADMIN') %}
        <td> <a href="{{path('personne.delete',{'id': personne.id })}}" class="btn btn-danger">
          <i class="fas fa-user-time"></i>
        </a></td>
        <td> <a href="{{path('personne.edit',{'id': personne.id })}}" class="btn btn-success">
          <i class="fas fa-user-edit"></i>
        </a></td>
      
      {% endif %}
      </tr>
        {% endfor %}
    </table>

    
{% endblock %}
